extends layout

block content
  .roulette-header
    img(src='images/r_logo.png', width='300px')
  .container
    .login
      .login-content
        br
        br
        form.form
          br
          h1(style='color:white') Your balance is #{balance}
          br
          input.username(type='text', id="addmorecreddit", placeholder='Enter amount to add to credit')
          br
          input(type='button', value='Enter', onclick="addCredit()")
          br
          a(href='gamelobby')
            input(type='button', value='Back')          
          br

  script.
    function addCredit(){
      var creditToAdd = parseInt(document.getElementById("addmorecreddit").value);
      var currentCredit = parseInt(#{balance});
      currentCredit+=creditToAdd;
      document.getElementById("addmorecreddit").value="";
      alert(currentCredit);

      //update database with query!
    }

