extends layout

block content
    .roulette-header
      img(src='images/r_logo.png', width='300px')
    .container
      .forgot-password-content
        br
        br
        form.form(name='formLogIn', method ='post')
          br
          input.username(type='text', name='email', placeholder='Email')
          br
          input(type='submit', value='Send')
          br
          a(href='index')
            input(type='button', value='Back')
          br
