extends layout

block content
    .roulette-header
      img(src='images/r_logo.png', width='300px')
    .background-default
      .forgot-password-content
        .form
          br
          br
          input.username(type='text', name='email', placeholder='Email')
          br
          input(type='button', value='Send', onclick='sendForgotPassword()')
          br
          a(href='index')
            input(type='button', value='Back')
          br

