extends layout

block content
  .roulette-header
    img(src='images/r_logo.png', width='300px')
    .userandbalance
      h1(style='color:white') Welcome #{username}!
      h2(style='color:white') YOUR BALANCE IS $#{balance}
  .container
    .login
      .login-content
        br
        form.form(name='formLogIn', method='post')
          br
          a(href='gameroom')
            input(type='button', value='Join Game')
          br
          input(type='button', value='Leaderboard' onclick='openLeaderModal()')
          br
          a(href='addcredit')
            input(type='button', value='Add Credit')
          br
          a(href='rules')
            input(type='button', value='Rules')
          br
          input(type='submit', value='Logout')
          br
          br

  #leaderboard.modal
    .modal-leaderboard
      .modal-leaderboard-header
        span.close(onclick='closeLeaderModal()') ×
        h2 Current players and their balance
      .modal-leaderboard-body
        p #{leaderboard}

  #closed-chat-lobby
    header.clearfix
      a.chat-close-lobby(href='#', onclick='openchatLobby()') 
      h4 Chat in gamelobby
  #live-chat-lobby
    header.clearfix
      a.chat-close-lobby(href='#', onclick='closechatLobby()') x
      h4 Chat in gamelobby
    .chat-lobby
      .chat-history-lobby
          ul#messages-area-lobby
        fieldset
          input#chatSendingLobby(type='text', autocomplete='off', placeholder='Type your message…', autofocus='', onkeypress='sendMessageChatLobby(event)')
          input(type='hidden')

  script.
    var modal = document.getElementById('leaderboard');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script.
    var socket = io();
    function sendMessageChatLobby(event){
      if (event.keyCode == 13) {
        if($('#chatSendingLobby').val()!=""){
          var player="#{username}"+": "+$('#chatSendingLobby').val();
          socket.emit('new message lobby', player);
          $('#chatSendingLobby').val('');
        }
      }
    }

    socket.on('chat message lobby', function(msg){
        console.log("message received from lobby");
        $('#messages-area-lobby').append($('<li>').text(msg));
    });
