extends layout

block content
  .roulette-header
    img(src='images/r_logo.png', width='300px')
  .container
    .login
      .login-content
        br
        form.form(name='formLogIn', method='post')
          br
          a(href='gameroom')
            input(type='button', value='Create Game')
          br
          a(href='gameroom')
            input(type='button', value='Join Game')
          br
          a(href='addcredit')
            input(type='button', value='Add Credit')
          br
          a(href='rules')
            input(type='button', value='Rules')
          br
          input(type='submit', value='Logout')
          br
          br
