extends layout

block content
  .roulette-header
    img(src='images/r_logo.png', width='300px')
  .container
    .login
      .login-content
        br
        form.form(name='formLogIn', method='post')
          br
          a(href='gameroom')
            input(type='button', value='Join Game')
          br
          input(type='button', value='Leaderboard' onclick='openLeaderModal()')
          br
          a(href='addcredit')
            input(type='button', value='Add Credit')
          br
          a(href='rules')
            input(type='button', value='Rules')
          br
          input(type='submit', value='Logout')
          br
          br
  #leaderboard.modal
    .modal-leaderboard
      .modal-leaderboard-header
        span.close(onclick='closeLeaderModal()') ×
        h2 These are the current players and their balance:
      .modal-leaderboard-body
        p Player: #{username} Balance: #{balance}
