extends layout

block content
 .roulette-header
   img(src='images/r_logo.png', width='300px')
 .background-gameroom
   img.image-roulette(src='images/rou.png', onclick='spinning()')
   img.image-roulette-spin(src='images/rou.png', onclick='no_spinning()')
   img.image-table(src='images/table.png')
