doctype html
html
  head
    title Roulette
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/roulette.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/chat2.css')
    link(href='https://fonts.googleapis.com/css?family=Homemade Apple', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Julius Sans One', rel='stylesheet')
    script(src='/socket.io/socket.io.js')
    script(src='script/roulette.js')
    script(src='script/gamelogic.js')
    //script(src='../app.js')


  body
    block content
