extends layout

block content
.roulette-header
  img(src='images/header.jpg', width='100%')
.background-rules
  h1(style='text-align:center; font-size:50px') Rules
  p
    | Red:
    | You are betting that the next number to come up is a red. If the next number landed is red, you will be paid 1 to 1, or even money. To play this bet, place a chip on the box marked "Red".
    br
    br
    | 						Black:
    | 						You are betting that the next number to come up is a black. If the next number landed is black, you will be paid 1 to 1, or even money. To play this bet, place a chip on the box marked "Black".
    br
    br
    | 						Even:
    | 						This is wagering that the ball will land on an even number. This bet does not include 0 or 00. The payoff is 1 to 1. To play this bet, place a chip on the box marked "Even".
    br
    br
    | 						Odd:
    | 						This is wagering that the ball will land on an odd number. The payoff is 1 to 1 if the next number to come up is odd. To play this bet, place a chip on the box marked "Odd".
    br
    br
    | 						Low bet:
    | 						This is a bet that the next number will be between 1 and 18. The payout is 1 to 1. To play this bet, place a chip on the box marked "Low".
    br
    br
    | 						High bet:
    | 						This is a bet that the next number will be between 19 and 36. The payout is 1 to 1. To play this bet, place a chip on the box marked "High".
    br
    br
    | 						Dozen bet:
    | 						These bets divide the table into the numbers 1-12, 13-24, and 25-36. To play this bet, put a chip in one of the three boxes marked "1st 12", "2nd 12" or "3rd 12". This bet pays 2 to 1.
    br
    br
    | 						Column bet:
    | 						This bets that a number in a particular column will come up on the next spin. The payoff is 2 to 1 and is done by placing a chip at the end of the layout below your desired column where it is marked "2 to 1".
    br
