body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#player-timer{
  margin-top: 10px;
  color:white;
  font-size:25px;
  text-align:center;
}

.roulette-header{
  background-color: #08682e;
  padding:0;
  margin:0;
}

.roulette-second-header{
  text-align: right;
}

.container {
    /*background-image: url("images/wallpaper.jpg");*/
    background-image: url("https://gamblinglawsisrael.files.wordpress.com/2015/04/shutterstock_126023555.jpg");
    background-size: cover;
    height:700px;
}

.login-content{
  /*position: fixed;*/
  position:absolute;
  margin-left: 30%;
  margin-top: 50px;
  width:40%;
  height: 400px;
  background-color: black;
  opacity: 0.9;
}

.signup-content{
  /*position: fixed;*/
  position:absolute;
  margin-left: 30%;
  margin-top: 50px;
  width:40%;
  height: 520px;
  background-color: black;
  opacity: 0.9;
}

.forgot-password-content{
  position:absolute;
  margin-left: 30%;
  margin-top: 50px;
  width:40%;
  height: 250px;
  background-color: black;
  opacity: 0.9;
}

.username {
    margin: 10px;
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 10px;
}

.password {
    margin: 10px;
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 10px;
}

input[type=button], input[type=submit] {
    margin: 10px;
    width: 160px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    background-color: #08682e;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.form{
  text-align: center;
}

.forgotPassword{
  color:white;
  font-family: helvetica;
}

.background-rules{
  margin-left: 20%;
  width: 60%;
  color:white;
  font-size: 14px;
  font-family: arial;
  text-align: justify;
}


.background-gameroom{
  margin-top: 80px;
  margin-bottom: 120px;

}

.image-table {
  display:inline-block;
  width:65%;
}

.image-roulette {
  width: 25%;
  margin-left:15px;
  display:inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 160px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 26%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.close:hover,
.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5px 40px;
    background-color: white;
    color: black;
}

.modal-body {
  padding: 5px 40px;
  margin-bottom: 40px;
  text-align: center;
}

.modal-leaderboard {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  height:300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-leaderboard-header {
  padding: 5px 40px;
  background-color: white;
  color: black;
}

.modal-leaderboard-body {
padding: 5px 40px;
margin-bottom: 40px;
color: black;
text-align: center;
}



.image-roulette-spin {
  margin-left:15px;
  width: 25%;
  display:none;
  -webkit-animation:spin 1s linear 3;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
